<h1 class="text-danger">About Us</h1>

<script>

    $(document).ready(()=>{
        console.log(location.pathname);

        var loc = location.pathname;

        $("nav ul li:nth-child(2)").addClass('active');
    })
</script>




